{% extends "base.html" %}
{% block title %} Tabs Tutorial {% endblock %}
{% block content %}
<div class="base">
    <h5>Welcome to my list of guitar learning sites, enjoy :)</h5>
    <div class="blocknumbatwo">
        <p></br>Justin Guitar: <a href="https://www.justinguitar.com/">justinguitar.com</a></p>
        <p>Guitar Tricks: <a href="https://www.guitartricks.com/">guitartricks.com</a></p>
        <p>JamPlay: <a href="https://www.jamplay.com/">jamplay.com</a></p>
        <p>The Guitar Lesson: <a href="https://www.theguitarlesson.com/">theguitarlesson.com</a></p>
        <p>Guitar Insturctor: <a href="https://www.guitarinstructor.com/">guitarinstructor.com</a></p>
    </div>
</div>
{% endblock %}