{% extends "base.html" %}
{% block title %} Cool Guitars {% endblock %}
{% block content %}
<div class="base">
    <img style="margin-bottom: -25px; margin-left: 600px; padding-left: 15%; height: 50%; width: 50%;" src="/static/Guitars/guitarist.png">
    <img style="padding-left: 13%;" src="/static/Guitars/guitar5.png">
    <img style="padding-left: 13%;" src="/static/Guitars/guitar6.png">
    <img style="padding-left: 13%;" src="/static/Guitars/guitar8.png">
    <img style="padding-left: 13%;" src="/static/Guitars/guitar12.jpg">
</div>
{% endblock %}