{% extends "base.html" %}
{% block title %} Notes Page {% endblock %}
{% block content %}
<div class="base">
    <h6>Notes for guitar:</h6>
    <div class="block">
        <a href="/static/SaveMeFromMyself-Notes.jpg" target="_blank">Christina Aguilera - Save Me From Myself</br></a>
        <a href="/static/HarryPotter-ThemeSongNotes.jpg" target="_blank">Harry Potter - Theme Song</br></a>
        <a href="/static/CathyDennis-ToxicNotes.jpg" target="_blank">Cathy Dennis - Toxic</br></a>
        <a href="/static/BeatlesYesterday-Notes.jpg" target="_blank">Beatles - Yesterday</br></a>
        <a href="/static/Queen-WeWillRockYouNotes.png" target="_blank">Queen - We Will Rock You</br></a>
        <a href="/static/Star Wars-ThemeNotes.png" target="_blank">Star Wars - Theme</br></a>
    </div>
</div>
{% endblock %}