{% extends "base.html" %}
{% block title %} Tabs Tutorial {% endblock %}
{% block content %}
<div class="base">
    <h5>Welcome to the tutorial on how to read guitar tabs, enjoy :)</h5>
    <p>You are going to be reading chord boxes in the very first stage so you will need to get this down now. You won't need to read tab for a little while yet, but we'll give you a brief rundown of it here so you at least understand the basics of this as well. I do not encourage beginners to read music notation because it makes for very slow progress.</p>
    <h2 style="color:#1A99A8;">READING CHORD BOXES</h2>
    <p>The first thing that you need to know is how to read chord boxes. These show you where to put your fingers on the fingerboard to play chords. The six vertical lines represent the six strings. The string on the furthest left is the thickest string (E). The two lines at the top of the box represent the nut (the plastic, bone or metal piece that the strings go through on the headstock) and the rest of the horizontal lines represent the frets.</p>
    <p>The dots represent the places where you put your left-hand fingers, and they are numbered to show which finger to use. Number 1 is the index finger, 2 is the middle finger, 3 is the ring finger and 4 is your pinky (little finger). If you have played the piano make sure you don't get confused; piano finger numbering is completely different (guitar players generally don't use their left-hand thumbs).</p>
    <p>Notice the X or O above each string too. These show whether you should play the string or not for that chord. The O means that you play the string ‘open' – with no fingers holding it down – and the X means that you should not play that string.</p>
    <img src="/static/Tabs_Tutorial1.jpg">
    <h2 style="color:#1A99A8;">READING TABS</h2>
    <p>Guitar TAB (or guitar tablature) is a way of writing music specifically for guitar. It is perfect for those that do not read music, and in many cases offers more information than the written notation would anyway!</p>
    <p>TAB has six horizontal lines that represent the six strings on the guitar. The top line is the thinnest string (first) and the lowest line represents the thickest (sixth) string. The numbers that are placed on the lines tell you what fret to play a note. You will only ever play the strings with numbers on; If a string has no number, don't play it. The 0 means that a string is played open, with no fingers pressing down the string on the frets.</p>
    <img src="/static/Tabs_Tutorial2.jpg">
    <p>All the credit goes to<a href="https://www.justinguitar.com/">justinguitar.com</a>as original poster! Thanks Justin!:)</p>
</div>
{% endblock %}