{% extends "base.html" %}
{% block title %} Tabs Page {% endblock %}
{% block content %}
<div class="base">
    <h6>Tabs for guitar:</h6>
    <div class="block">
        <a href="/static/ChristinaAguilera-SaveMeFromMyself.jpg" target="_blank">Christina Aguilera - Save Me From Myself</br></a>
        <a href="/static/HarryPotter-ThemeSong.jpg" target="_blank">Harry Potter - Theme Song</br></a>
        <a href="/static/BritneySpears-Toxic.jpg" target="_blank">Britney Spears - Toxic</br></a>
        <a href="/static/Beatles-Yesterday.jpg" target="_blank">Beatles - Yesterday</br></a>
        <a href="/static/Queen-WeWillRockYou.png" target="_blank">Queen - We Will Rock You</br></a>
        <a href="/static/Star Wars-Theme.png" target="_blank">Star Wars - Theme</br></a>
    </div>
</div>
{% endblock %}